body {
    padding: 0;
    margin: 0;
  }
h1{
    color: white;
}
body h1, body h2{
    color: white;
}
.navbar {
    background-color: #baaa80;
    text-align: inline-block;
    padding: 0;
    position: fixed; 
    left: 0; 
    right: 0; 
    z-index: 1; 
    height: 5.5%;
    display: flex;
    align-items: center; 
    border-bottom: 3px solid #857361;
}
.nav-container {
    display: flex;
    align-items: center;
    padding: 0px;
}

.nav-link-left {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    color: #000000;
    background-color: #857361;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Comic Sans";
    border-color: #402523;
    border-width: 3px;
    border-style: solid;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-right {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    color: #000000;
    background-color: #857361;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Comic Sans";
    border-color: #402523;
    border-width: 3px;
    border-style: solid;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-right:hover {
    color: white;
    transform: scale(1.05);
}

.nav-link i{
    display:inline-flex;
    height: 20px;
    vertical-align:top;
}

.nav-icon{
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 3px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .nav-link-left:hover {
    color: white;
    transform: scale(1.05);
}
.welcome-text{
    position: relative;
    display: inline-block;
    left: 150px;
    top: 150px;
    width: 30%;
}
.repeatable-background-image{
    background-image: url("repeatable background.png");
    background-size: contain;
    background-repeat: repeat;
    position:absolute;
    top:5.5%;
    left:0;
    width:100%;
    min-height: 94.5%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.homepage-background-image{
    background-image: url("wynnguessr homepage background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    top:5.5%;
    left:0;
    width:100%;
    height:94.5%;
    font-family: Arial, sans-serif;
}
.guess-screen{
    position: absolute;
    display: flex;
    top: 5.5%;
    width: 100%;
    height: 94.5%;
}
.location-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
    font-family: Arial, sans-serif;
}
.vr-image iframe{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    width:100%;
    height: 100%;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.play-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    margin-right: 5px;
    padding: 10px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    width: 150px;
    color: black; 
    transition: transform 0.3s ease, color 0.3s ease;
    font-family: cursive;
}
.play-button:hover{
    background-color: #6FAE2D;
    transform: scale(1.1);
    color: white;
}
.feature-container{
    overflow:hidden;
    top: 95%;
    width: 100%;
}
.slanted-background-box{
    position: absolute;
    overflow: hidden;
    top: 95%;
    height: 300px;
    width: 114.7%;
    left: -15%;
    background-color: #baaa80;
    transform: rotate(2.3deg);
    border-top: 5px solid #857361;
}
.feature-information-box{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #baaa80;
}

.information-container{
    display: flex;
    flex-direction: row;
}
.information-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: black;
    align-self: left;
    margin: 100px 5%;
    width: 30%;
}
.demo-container{
    background-image: url("repeatable background.png");
    background-size: contain;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    border-top: 5px solid #857361;
}
.demo-information-box{
    color: black;
    display: flex;
    margin: 155px 250px;
    width: 25%;
    flex-direction: column;
    text-align: left;

}
.information-box p, .demo-information-box p{
    font-size: 20px;
    font-family: cursive;
}
.information-box h1, .demo-information-box h1{
    font-family: cursive;
}
.demo-information-box p, .demo-information-box h1{
    color: white;
}
.demo-information-box a{
    width: 150px;
}

.vr-demo iframe{
    margin-top: 50px;
    margin-left: 100px;
    width: 700px;
    height: 400px;
}
.mode-select-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mode-select-box{
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 20px;
}
.mode-select-option-box{
    display: flex;
    justify-content: left;
    flex-direction: row;
    color: black;
    margin: 5px;
    border-radius: 10px;
}

:checked + label {
    background-color: #378537;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.mode-select-header{
    text-align: left;
    margin-left: 5px;
    flex-basis: 100%;
}
.mode-select-option{
    display: flex;
    justify-content: left;
    flex-direction: row;
    color: black;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#time-limit{
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    width: 100px;
}
.form-check-input{
    display: none;
}
.login-input{
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    font-size: 20px;
    
}
.register-redirect{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.form-submit{
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 20px;
    background-color: #83C73C;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.profile-container{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: left;
    margin: 10px;
}
.profile-information{

}
#mode-submit-button{
    position: absolute;
    bottom: 0px;
    width: 99.5%;
}
.filter-option-container{
    display: flex;
    justify-content: left;
    margin-left: 30px
    
}
.filter-option-container input{
    display: none;
}
.filter-option{
    margin: 10px;
    padding: 1px 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.leaderboard-table{
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #857361;
    border: 3px solid black;
}
.leaderboard-row{
    border: 1px solid black;
}
.map-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    right: 0px;
    height: 351px;
    width: 300px;
    transition: width .3s, height .3s, transform .3s;
}

.map-container:hover{
    height: 700px;
    width: 600px;
}
.map-container:hover #map{
    height: auto;
    flex-grow: 1;
}
#map{
    position: relative;
    height: 300px;
    width: 100%;
    flex-grow: 1;
    image-rendering: pixelated;
    background: black;
}
#scoreMap{
    position:absolute;
    top: auto;
    height: 78%;
    width: 100%;
    image-rendering: pixelated;
    background: black;
}
.guess-button{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    color: black; 
    padding: 10px;
    width: 100%;
    height: 51px;
    cursor: pointer;
}
.next-button{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    color: black; 
    padding: 10px;
    width: 20%;
    height: 51px;
    cursor: pointer;
}
.score-screen{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 5.5%;
    height: 94.5%;
    width: 100%;
    text-align: center;
    color: white;
}
#score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    bottom: 0px;
    height: 22%;
    width: 100%;
    background-color: #141323;
    overflow: hidden;
}
.score-info{
    display: inline-block;
    bottom: 5%;
    vertical-align: middle;
    margin: 15px;
    font-size: 20px;
    color: white;
    width: 400px;
}
.progress-bar{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 10px;
    background-color: #77736f;
    border-radius: 10px;
}
.progress{
    width: 50%;
    height: 100%;
    text-align: right;
    background-color: #83C73C;
    border-radius: 10px;
}
#countdown-screen{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5.5%;
    height: 94.5%;
    width: 100%;
    text-align: center;
    background-color: white;

}

#round-number{
    margin: 10px;
}
#time-left{
    margin: 10px;

}
.apology-message{
    color: red;
    font-size: 20px;
    background-image: url(rat_apology_image.PNG);
    height: 358px;
    width: 291px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}
.apology-message p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #baaa80;
    color: #000000;
    border-top: 3px solid #857361;
}