body {
    padding: 0;
    margin: 0;
  }
.navbar {
    background-color: #baaa80;
    text-align: inline-block;
    padding: 0;
    position: absolute; 
    left: 0; 
    right: 0; 
    z-index: 1; 
    height: 5.5%;
    display: flex;
    align-items: center; 
    border-bottom: 3px solid #857361;
}
.nav-container {
    display: flex;
    align-items: center;
    padding: 0px;
}

.nav-link-left {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    color: #000000;
    background-color: #857361;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Comic Sans";
    border-color: #402523;
    border-width: 3px;
    border-style: solid;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-right {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    color: #000000;
    background-color: #857361;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Comic Sans";
    border-color: #402523;
    border-width: 3px;
    border-style: solid;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-right:hover {
    color: white;
    transform: scale(1.05);
}

.nav-link i{
    display:inline-flex;
    height: 20px;
    vertical-align:top;
}

.nav-icon{
    float: left;
    color: #000000;
    text-align: center;
    padding: 0px 3px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .nav-link-left:hover {
    color: white;
    transform: scale(1.05);
}

.background-image{
    background-image: url(wallpaper_minecraft_serene_snow_3840x2160.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.location-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;

}
.vr-image iframe{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    position:absolute;
    top: 5.5%;
    left:0;
    width:100%;
    height: 94.5%;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.play-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    padding: 10px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    color: black; 
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}
.play-button:hover{
    background-color: #6FAE2D;
    transform: scale(1.1);
}
.play-button-gamemode {
    display: inline-block;
    text-align: center;
    line-height: 15vh; 
    border-radius: 12px;
    border: 8px solid black;
    background-color: #83C73C;
    width: 50vw;
    height: 15vh;
    margin: 10px;
    font-size: 30px;
    color: white; 
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}
#all-of-wynncraft-button{
    background-image: url(random_minecraft_background.png);
}
#wynn-province-button{
    background-image: url(random_minecraft_background2.jpg);
}
#gavel-province-button{
    background-image: url(random_minecraft_background3.jpg);
}

.play-button-gamemode:hover {
    background-color: #6FAE2D;
    transform: scale(1.1);
}

.play-button-gamemode:hover{
    background-color: #6FAE2D;
    transform: scale(1.05);
}
.login-input{
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    font-size: 20px;
    
}
.register-redirect{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.form-submit{
    border-radius: 8px;
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 20px;
    background-color: #83C73C;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.leaderboard-table{
    border-collapse: collapse;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #857361;
    border: 3px solid black;
}
.leaderboard-row{
    border: 1px solid black;
}
.map-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    right: 0px;
    height: 351px;
    width: 300px;
    transition: width .5s, height .5s, transform .5s;
}

.map-container:hover{
    height: 700px;
    width: 600px;
}
.map-container:hover #map{
    height: auto;
    flex-grow: 1;
}
#map{
    position: relative;
    height: 300px;
    width: 100%;
    flex-grow: 1;
    transition: width .5s, height .5s, transform .5s;
    image-rendering: pixelated;
    background: black;
}
.guess-button{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    color: black; 
    padding: 10px;
    width: 100%;
    height: 51px;
    transition: width .5s, height .5s, transform .5s;
}
.next-button{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    border: 4px solid black;
    background-color: #83C73C;
    font-size: 20px;
    color: black; 
    padding: 10px;
    width: 20%;
    height: 51px;
}
.score-screen{
    position: absolute;
    display: inline-block;
    flex-direction: column;
    top: 90%;
    height: 10%;
    width: 100%;
    background-color: #857361;
    text-align: center;
    color: white;
}
#round-number{
    margin: 10px;
}
.apology-message{
    color: red;
    font-size: 20px;
    background-image: url(rat_apology_image.PNG);
    height: 358px;
    width: 291px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}
.apology-message p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #baaa80;
    color: #000000;
    border-top: 3px solid #857361;
}