<!DOCTYPE html>

<head>
    <title>Wynnguesser: Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static/wynnlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="crossorigin=""/>
    <meta id="game-variables" provinces="{{provinces}}" timeLimit="{{time_limit}}" look="{{look}}" rounds="{{rounds}}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a class="nav-icon" href="/">
                <img src="static/wynnlogo.png" alt="logo" height=31.1>
            </a>
            <a href="/">
                <div class="nav-link-left">
                    <i class="material-icons">home</i>Home
                </div>
            </a>
            <p id="round-number">
                Round: 1/5
            </p>
            <p id="totalScore">
                0 Points
            </p>
        </div>
    </nav>
    <div class="guess-screen" id="guess-screen">

    </div>

    <div class="score-screen" id="score-screen">

    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
