{% extends "layout.html" %}

{% block title %}: Home{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum esse culpa doloremque in quo, ab deleniti doloribus numquam eligendi fugit! Nesciunt aspernatur vero officia eligendi consectetur impedit. Distinctio, tempore?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic iusto fuga eveniet unde cupiditate laboriosam iure animi earum. Deleniti a accusantium assumenda nihil consectetur deserunt. Harum illo adipisci tempore eaque!Loremlorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, sed quia est provident doloribus quae esse maxime suscipit illum numquam magnam quas repellendus laudantium nihil sapiente ad at enim veritatis!Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus pariatur commodi iste non, blanditiis voluptas tempora corrupti doloremque repellat velit! Unde nesciunt obcaecati ullam similique reiciendis exercitationem aperiam sit est.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi sit ipsum voluptas animi fuga quasi commodi beatae illum quisquam inventore! Dignissimos hic quos quasi magni, quae qui dolorem accusamus aut?lum numquam magnam quas repellendus laudantium nihil sapiente ad at enim veritatis!Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus pariatur commodi iste non, blanditiis voluptas tempora corrupti doloremque repellat velit! Unde nesciunt obcaecati ullam similique reiciendis exercitationem aperiam sit est.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi sit ipsum voluptas animi fuga quasi commodi beatae illum quisquam inventore! Dignissimoslum numquam magnam quas repellendus laudantium nihil sapiente ad at enim veritatis!Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus pariatur commodi iste non, blanditiis voluptas tempora corrupti doloremque repellat velit! Unde nesciunt obcaecati ullam similique reiciendis exercitationem aperiam sit est.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi sit ipsum voluptas animi fuga quasi commodi beatae illum quisquam inventore! Dignissimoslum numquam magnam quas repellendus laudantium nihil sapiente ad at enim veritatis!Lorem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus pariatur commodi iste non, blanditiis voluptas tempora corrupti doloremque repellat velit! Unde nesciunt obcaecati ullam similique reiciendis exercitationem aperiam sit est.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi sit ipsum voluptas animi fuga quasi commodi beatae illum quisquam inventore! Dignissimos
    </p>
{% endblock %}