{% extends "layout.html" %}

{% block title %}: Home{% endblock %}

{% block content %}
    <h1>Wynnguessr Home</h1>
    Playing as: {{username}}
    <a href = "/play">
        <div class = "play-button">
            Play Now!
        </div>
    </a>
{% endblock %}

{% block footer %}
    <footer>
        <div class = "footer">
            <span>Wynnguesser is not affiliated with or endorsed by Wynncraft.</span>
            <span>Any bug reports can be sent to Example@gmail.com</span>
        </div>
    </footer>
{% endblock %}