{% extends "layout.html" %}

{% block title %}: Leaderboard{% endblock %}

{% block content %}
<table class = "leaderboard-table">
    <thead>
        <tr class = "leaderboard-row">
            <th class = "leaderboard-header">ID</th>
            <th class = "leaderboard-header">Username</th>
        </tr>
    </thead>
    {% for user in users %}
        <tr class = "leaderboard-row">
            <td class = "leaderboard-data">{{ user[0] }}</td>
            <td class = "leaderboard-data">{{ user[1] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock%}