{% extends "layout.html" %}

{% block title %}: Leaderboard{% endblock %}

{% block content %}
<h1>Leaderboard</h1>
<div class="leaderboard">
    <form class="filter-option-container" id="filter-options">
        <input type="checkbox" id="wynn" checked="true">
        <label for="wynn" class="filter-option" onclick="updateRanking('wynn')">Wynn</label>
        <input type="checkbox" id="gavel" checked="true">
        <label for="gavel" class="filter-option" onclick="updateRanking('gavel')">Gavel</label>
        <input type="checkbox" id="corkus" checked="true">
        <label for="corkus" class="filter-option" onclick="updateRanking('corkus')">Corkus</label>
        <input type="checkbox" id="ocean" checked="true">
        <label for="ocean" class="filter-option" onclick="updateRanking('ocean')">Ocean</label>
        <input type="checkbox" id="silent-expanse" checked="true">
        <label for="silent-expanse" class="filter-option" onclick="updateRanking('silent-expanse')">Silent Expanse</label>
        <input type="checkbox" id="look">
        <label for="look" class="filter-option" onclick="updateRanking('look')">No Look</label>
        <fieldset>
            <input type="radio" id="three-rounds" name="rounds">
            <label for="three-rounds" class="filter-option" onclick="updateRanking('three-rounds')">3 Rounds</label>
            <input type="radio" id="five-rounds" name="rounds" checked="true">
            <label for="five-rounds" class="filter-option" onclick="updateRanking('five-rounds')">5 Rounds</label>
            <input type="radio" id="ten-rounds" name="rounds">
            <label for="ten-rounds" class="filter-option" onclick="updateRanking('ten-rounds')">10 Rounds</label>
            <input type="radio" id="twenty-five-rounds" name="rounds">
            <label for="twenty-five-rounds" class="filter-option" onclick="updateRanking('twenty-five-rounds')">25 Rounds</label>
        </fieldset>
        
    </form>
        
    
    <table class="leaderboard-table">
        <thead>
            <tr class="leaderboard-row">
                <th class="leaderboard-header">Rank</th>
                <th class="leaderboard-header">Username</th>
                <th class="leaderboard-header">Score</th>
                <th class="leaderboard-header">Date</th>
                <th class="leaderboard-header">Look</th>
                <th class="leaderboard-header">Provinces</th>
                <th class="leaderboard-header">Rounds</th>
                <th class="leaderboard-header">Time</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr class="leaderboard-row">
                <td class="leaderboard-data">{{ loop.index }}</td>
                {% for data in user %}
                    <td class="leaderboard-data">{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>



<script src="{{ url_for('static', filename='js/query.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% endblock%}