{% extends "layout.html" %}

{% block title %}: Play{% endblock %}

{% block content %}

    <div class = "background-image">
        <h1>Play</h1>
        <a href="{{ url_for('play', mode='wynncraft') }}" class="play-button-gamemode">
            All of Wynncraft
        </a>

        <a href="{{ url_for('leaderboard') }}" class="play-button-gamemode">
            Province of Wynn
        </a>

        <a href="{{ url_for('stats') }}" class="play-button-gamemode">
            Province of Gavel
        </a>

    </div>
{% endblock %}